@font-face {
    font-family: Cascadia;
    src: url('CascadiaCode-SemiLight.ttf');
  } 

body {
    font-family: 'Cascadia', monospace;
    margin: 16px;
}

#hedgehog {
    width: 32px;
    height: 32px;
    transition-duration: 2s;
  }
  
#hedgehog:hover {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }